
h1 {
  color: rgb(77, 8, 8);
  text-align: center; 
} 

h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  text-decoration: underline;
}

body {
  background-image: url('https://cdn.pixabay.com/photo/2017/08/02/14/26/winter-landscape-2571788_1280.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
}

h3{
  background:#d2a3a3; 
  color: rgb(11, 80, 216);
}

h4 {
  bottom: 0;
  border-style: solid; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  text-align: center; 
  padding: 10px; 
  border-width:1px 4px 12px 4px; 
  color:rgb(60, 33, 24);
  font: size 30px;
}   

 .quizResult{
  /*border-style: solid;*/  
  font-size: 20px; 
  color:rgb(134, 105, 86);
}   

# {
  color:rgb(54, 44, 194);
}

#first {
  background:rgb(69, 92, 6);
  color:rgb(31, 5, 5);
}

#leftColumn {
  float: left;
  width: 48%;
}

#rightColumn {
  float: right;
  width: 48%;
}
